<!DOCTYPE html>
<html>
{{ include part/_head }}
<body id="<%= view.pathFromApp.replace(/\//g,'-').replace('-index', '').replace('views-', 'page-') %>">

{{- include part/error/flash }}
{{- include part/ele_nav-bar }}
{{- include part/_header }}
{{- body }}
{{- include part/_footer }}

<!--TEMPLATES-->

<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/app.js"></script>
<!--SCRIPTS END-->
</body>
</html>
