.icon-heart { background-image: url('/fonts/png/heart.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('/fonts/png/home.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('/fonts/png/mail.png'); background-repeat: no-repeat; }

.icon-marker { background-image: url('/fonts/png/marker.png'); background-repeat: no-repeat; }

.icon-monitor { background-image: url('/fonts/png/monitor.png'); background-repeat: no-repeat; }

.icon-time { background-image: url('/fonts/png/time.png'); background-repeat: no-repeat; }

