.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-marker { background-image: url('png/marker.png'); background-repeat: no-repeat; }

.icon-monitor { background-image: url('png/monitor.png'); background-repeat: no-repeat; }

.icon-time { background-image: url('png/time.png'); background-repeat: no-repeat; }

