<div id="demo">
    <h1>{{title | uppercase}}</h1>
    <ul>
        <li
            v-repeat="todos"
            v-on="click: done = !done"
            class="{{done ? 'done' : ''}}">
            {{content}}
        </li>
    </ul>
</div>

<section id="collection-cities" class="as_card">
  <div class="box">

    <div class="item" role="link">
      <div class="box">

        <a class="link" href="/cities/show/city-id"></a>

        <div class="vote">
          <a class="upvote" href="#"> ^ </a>
          <div class="count">
            20
          </div>
        </div>

        <div class="intro">
          <div class="cover">
            <!-- <img src="/cities/show/<%= city.img %>" alt=""> -->
            <img src="http://placehold.it/320x320" alt="">
          </div>
          <div class="content">
            <div class="title">
              <h2>City, Country</h2>
            </div>
            <div class="desc">Description</div>
            <div class="info">
              <div class="rent">Rent</div>
              <div class="weather">Weather</div>
            </div>
          </div>
        </div>

        <div class="details">
          <!-- SHARE MARKUP -->
          <div class="cta-social">
            <div class="title">
              Share
            </div>
            <ul class="actions">
              <li class="save"><a href="#save">A</a></li>
              <li class="email"><a href="#email">E</a></li>
              <li class="facebook"><a href="#facebook">F</a></li>
              <li class="twiter"><a href="#twiiter">T</a></li>
            </ul>
          </div>
        </div>
        <div class="comments">
          <div class="title">
            <span>[c]</span>
          </div>
          <div class="count">
            25
          </div>
        </div>

      </div>
    </div>


  </div>
</section>
